<a href="https://colab.research.google.com/github/Mandy3232/Assignment/blob/master/programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Check If A Number Is Even Or Odd

In [0]:
def check_num(n):
  if n%2==0:
    print("number is even")
  else:
    print("number is odd")

val=int(input("input a number"))
check_num(val)

input a number5
number is odd

Check If Number Is Prime

In [0]:
def check_prime(n):
  i=1
  j=0
  
  while(i<=n):
    if n%i==0:
       j+=1
    i+=1
    
  if j==2:
      print("number is prime")
  else:
      print("number is not prime")
      

val=int(input("input a number"))
check_prime(val)

input a number1000
number is not prime

Print Fibonacci Series

In [0]:
def fib_ser(n):
  a=0
  b=1
  print(a)
  print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)
    
val=int(input("input a number"))
fib_ser(val)

input a number10
0
1
1
2
3
5
8
13
21
34

Table Upto 12

In [0]:
def mtab():
  for i in range(1,13):
    for j in range(1,11):
      k=i*j
      print(k)
    print(" ")
  
mtab()

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

11
22
33
44
55
66
77
88
99
110

12
24
36
48
60
72
84
96
108
120

Sum Of Squares Of Numbers From 1 To n

In [0]:
def sos(n):
  s=0
  for i in range (1,n+1):
    k=i**2
    s=s+k
  print(s)
val=int(input("input a number"))
sos(val)

input a number3
14

Pick Even Numbers Between 2000 To 3000

In [0]:
def check_num():
  for i in range (2000,3000):
    if i%2==0:
      print(i)
check_num()

2000
2002
2004
2006
2008
2010
2012
2014
2016
2018
2020
2022
2024
2026
2028
2030
2032
2034
2036
2038
2040
2042
2044
2046
2048
2050
2052
2054
2056
2058
2060
2062
2064
2066
2068
2070
2072
2074
2076
2078
2080
2082
2084
2086
2088
2090
2092
2094
2096
2098
2100
2102
2104
2106
2108
2110
2112
2114
2116
2118
2120
2122
2124
2126
2128
2130
2132
2134
2136
2138
2140
2142
2144
2146
2148
2150
2152
2154
2156
2158
2160
2162
2164
2166
2168
2170
2172
2174
2176
2178
2180
2182
2184
2186
2188
2190
2192
2194
2196
2198
2200
2202
2204
2206
2208
2210
2212
2214
2216
2218
2220
2222
2224
2226
2228
2230
2232
2234
2236
2238
2240
2242
2244
2246
2248
2250
2252
2254
2256
2258
2260
2262
2264
2266
2268
2270
2272
2274
2276
2278
2280
2282
2284
2286
2288
2290
2292
2294
2296
2298
2300
2302
2304
2306
2308
2310
2312
2314
2316
2318
2320
2322
2324
2326
2328
2330
2332
2334
2336
2338
2340
2342
2344
2346
2348
2350
2352
2354
2356
2358
2360
2362
2364
2366
2368
2370
2372
2374
2376
2378
2380
2382
2384
2386
2388
2390
2392
2394
2396
2398
2400
2402
2404
2406
2408
2410
2412
2414
2416
2418
2420
2422
2424
2426
2428
2430
2432
2434
2436
2438
2440
2442
2444
2446
2448
2450
2452
2454
2456
2458
2460
2462
2464
2466
2468
2470
2472
2474
2476
2478
2480
2482
2484
2486
2488
2490
2492
2494
2496
2498
2500
2502
2504
2506
2508
2510
2512
2514
2516
2518
2520
2522
2524
2526
2528
2530
2532
2534
2536
2538
2540
2542
2544
2546
2548
2550
2552
2554
2556
2558
2560
2562
2564
2566
2568
2570
2572
2574
2576
2578
2580
2582
2584
2586
2588
2590
2592
2594
2596
2598
2600
2602
2604
2606
2608
2610
2612
2614
2616
2618
2620
2622
2624
2626
2628
2630
2632
2634
2636
2638
2640
2642
2644
2646
2648
2650
2652
2654
2656
2658
2660
2662
2664
2666
2668
2670
2672
2674
2676
2678
2680
2682
2684
2686
2688
2690
2692
2694
2696
2698
2700
2702
2704
2706
2708
2710
2712
2714
2716
2718
2720
2722
2724
2726
2728
2730
2732
2734
2736
2738
2740
2742
2744
2746
2748
2750
2752
2754
2756
2758
2760
2762
2764
2766
2768
2770
2772
2774
2776
2778
2780
2782
2784
2786
2788
2790
2792
2794
2796
2798
2800
2802
2804
2806
2808
2810
2812
2814
2816
2818
2820
2822
2824
2826
2828
2830
2832
2834
2836
2838
2840
2842
2844
2846
2848
2850
2852
2854
2856
2858
2860
2862
2864
2866
2868
2870
2872
2874
2876
2878
2880
2882
2884
2886
2888
2890
2892
2894
2896
2898
2900
2902
2904
2906
2908
2910
2912
2914
2916
2918
2920
2922
2924
2926
2928
2930
2932
2934
2936
2938
2940
2942
2944
2946
2948
2950
2952
2954
2956
2958
2960
2962
2964
2966
2968
2970
2972
2974
2976
2978
2980
2982
2984
2986
2988
2990
2992
2994
2996
2998

Check If A Number Is Palindrome

Palindrome

In [0]:
def palindrome(num):
  return num== "".join([x for x in num][::-1])
value=input("enter a value")
palindrome(value)

enter a value543

False

To Check Whether Number Is Armstrong Or Not

In [0]:
def  armstrong(num):
  s=0
  for x in [int(x) for x in num]:
    s+=x**3
  return int(num)==s 

armstrong(input("enter a number"))

enter a number153

True

Concatenation Of Lists

In [0]:
def concat():
  list1=[1,3,5,7,9]
  list2=[2,4,6,8,10]
  print(list1 + list2)
concat()

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

Binary Search

In [0]:
def binarySearch(arr, l, r, x): 

	if r >= l: 

		mid = int(l + (r - l)/2)

		if arr[mid] == x: 
			return mid 
		 
		elif arr[mid] > x: 
			return binarySearch(arr, l, mid-1, x) 

		else: 
			return binarySearch(arr, mid + 1, r, x) 

	else: 
		return 0

arr = [ 2, 3, 4, 10, 40 ] 
x = 10

binarySearch(arr, 0, len(arr)-1, x)

3

False